[project]
	description = TYPO3 Neos plugin implementing all Zurb Foundation 5 elements.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marcin Ryżycki (ryzy)
[access "refs/for/refs/*"]
	read = group user/Marcin Ryżycki (ryzy)
	push = group user/Marcin Ryżycki (ryzy)
	label-Code-Review = -2..+2 group user/Marcin Ryżycki (ryzy)
	label-Verified = -1..+1 group user/Marcin Ryżycki (ryzy)
	rebase = group user/Marcin Ryżycki (ryzy)
	removeReviewer = group user/Marcin Ryżycki (ryzy)
	submit = group user/Marcin Ryżycki (ryzy)
[access "refs/heads/*"]
	read = group user/Marcin Ryżycki (ryzy)
	create = group user/Marcin Ryżycki (ryzy)
	push = +force group user/Marcin Ryżycki (ryzy)
	pushMerge = group user/Marcin Ryżycki (ryzy)
[access "refs/tags/*"]
	push = +force group user/Marcin Ryżycki (ryzy)
	pushTag = group user/Marcin Ryżycki (ryzy)
	pushSignedTag = group user/Marcin Ryżycki (ryzy)
