{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}

<figure{figureAttributes -> f:format.raw()}>
	<ts:render path="fontIcon" />

	<f:if condition="{image}">
		<f:then>
			<f:if condition="{linkAttributes.count}">
				<f:then>
					<a{linkAttributes -> f:format.raw()}><media:image asset="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{maximumWidth}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping}" allowUpScaling="{allowUpScaling}" /></a>
					{modalContent -> f:format.raw()}
				</f:then>
				<f:else>
					<media:image asset="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{maximumWidth}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping}" allowUpScaling="{allowUpScaling}" />
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:if condition="{neos:rendering.inEditMode()}">
				<img src="{f:uri.resource(package: 'TYPO3.Neos', path: 'Images/dummy-image.svg')}" title="Dummy image" alt="Dummy image" class="neos-handle" />
			</f:if>
		</f:else>
	</f:if>
	<f:if condition="{hasCaption}">
		<f:comment>
			<!-- 
			Orbit Slider requires .orbit-caption class here.
			We leave it here by default (for now) as it doesn't affect 
			caption rendered outside Orbit element.
			-->
		</f:comment>
		<figcaption class="orbit-caption">
			{neos:contentElement.editable(property: 'caption', node: node)}
		</figcaption>
	</f:if>
</figure>
