{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}

<!-- Slider root container -->
<f:section name="sliderRoot">
	<div class="extra-wrapper-required-by-neos-backend">
		<f:render partial="Anchor" arguments="{_all}" />
		{orbitContent -> f:format.raw()}
	</div>
</f:section>

<!-- Slider item -->
<f:section name="sliderItem">
	<li>{orbitItemContent -> f:format.raw()}</li>
</f:section>


<!-- Image, when rendered inside slider
 
Note: currently (Neos 2.0-dev) it has to be rendered using <f:render /> instead of directly,
due to some escaping errors in Fluid/Flow.

How to check if that extra `<f:render />` can be removed? 
Insert image inside slider, switch on image caption, start editing the caption.
Neos will start saving the changes in the background. Currently following exception is then thrown,
when sending PUT request to `/neos/service/node/update`:

Uncaught exception #1297759968 in line 271 of Data/Temporary/Development/Cache/Code/Flow_Object_Classes/TYPO3_Flow_Mvc_Controller_Argument.php: 
Exception while property mapping for target type "TYPO3\TYPO3CR\Domain\Model\Node",at property path "": 
Exception while property mapping for target type "TYPO3\Media\Domain\Model\ImageInterface", at property path "":
The given type "TYPO3\\Media\\Domain\\Model\\Image" is not a subtype of "TYPO3\Media\Domain\Model\ImageInterface”.

If it's not the case anymore, it can be removed ;)
-->
<f:section name="sliderItemImage">
	<f:render section="Image" arguments="{_all}" />
</f:section>

<f:section name="Image">
	<figure{f:if(condition: imageClassName, then: ' class="{imageClassName}"')}>
	<f:if condition="{image}">
		<f:then>
			<f:if condition="{link}">
				<f:then>
					<a href="{link}"><media:image asset="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{maximumWidth}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping}" allowUpScaling="{allowUpScaling}" /></a>
				</f:then>
				<f:else>
					<media:image asset="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{maximumWidth}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping}" allowUpScaling="{allowUpScaling}" />
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:security.ifAccess privilegeTarget="TYPO3.Neos:Backend.GeneralAccess">
				<f:if condition="{node.context.workspace.name} != 'live'">
					<img src="{f:uri.resource(package: 'TYPO3.Neos', path: 'Images/dummy-image.svg')}" title="Dummy image" alt="Dummy image" class="neos-handle" />
				</f:if>
			</f:security.ifAccess>
		</f:else>
	</f:if>
	<f:if condition="{hasCaption}">
		<figcaption class="orbit-caption">
			{neos:contentElement.editable(property: 'caption', node: node)}
		</figcaption>
	</f:if>
	</figure>
</f:section>
