{namespace neos=TYPO3\Neos\ViewHelpers}
<figure{attributes -> f:format.raw()}>
	<f:if condition="{videoId}">
	<f:then>
		<f:switch expression="{videoSource}">
			<f:case value="vimeo">
				<iframe src="https://player.vimeo.com/video/{videoId}" id="iframe-{elementId}" width="{width}" height="{height}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</f:case>
			<f:case value="vimeo-api">
				<f:comment>
					See https://developer.vimeo.com/player/js-api

					In addition, `data-progress` and `data-seek` attributes are added
					so it works nicely with Vimeo GA tracking: https://github.com/sanderheilbron/vimeo.ga.js
				</f:comment>
				<iframe src="https://player.vimeo.com/video/{videoId}?api=1&player_id=iframe-{elementId}" id="iframe-{elementId}" width="{width}" height="{height}" webkitallowfullscreen mozallowfullscreen allowfullscreen data-progress="true" data-seek="true"></iframe>
			</f:case>
			<f:defaultCase>
				<f:comment>By default we show YouTube video</f:comment>
				<iframe src="https://www.youtube.com/embed/{videoId}?wmode=transparent" id="iframe-{elementId}" width="{width}" height="{height}" allowfullscreen></iframe>
			</f:defaultCase>
		</f:switch>
	</f:then>
	<f:else>
		<p class="text-center">Please specify video ID.</p>
	</f:else>
	</f:if>
</figure>
